<div class="card">
    <div class="card-header" >
      <ul class="nav nav-pills card-header-pills" style="margin-bottom: 5px;">
        <li class="nav-item">
            <a class="nav-link" href="#">category1</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">category2</a>
        </li>
        
      </ul>
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
            <a class="nav-link" href="#">subcat1</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">subcat2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">subcat3</a>
          </li>
      </ul>
    </div>
    <div class="card-body">
        <div class = "container-fluid d-inline-flex p-2 flex-row" style="float:right">
        
        
            <p class="card-text" style="margin-right: 25px;">#</p>
            <p class="card-text" style="margin-right: 100px;">Player </p>
            <p class="card-text" style="margin-right: 25px;">In-Game Time</p>
            <p class="card-text" style="margin-right: 25px;">Real Time</p>
            <p class="card-text" style="margin-right: 25px;">Date</p>
               
               
                 
                   
                   
               
           </div>
       </div>
       </div>
