<body>
    <div class="widget-container w-33" style="float:left">
        <div class ="card w-33 text-bg-dark hover" style="float:right" style=" border: radius 0;">
        <div class="card-header">MORE FROM THE NEWSROOM</div>
        <div class="card-body" bg-dark>
            <a class="nav-link" href="#">Introducing Merch: Speedrun Shop!</a>
            <a class="nav-link" href="#">Leaderboard Update - Now Public!</a>
            <a class="nav-link" href="#">Spotlight: Juh0rse</a>
            <a class="nav-link" href="#">Beta Features Going Public - Featured Run and Game Ordering</a>
        </div>
      </div>
      </div>
      </body>
