<body>
<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row align-items-start">
      <div class="col">
        One of two columns
      </div>
      <app-opinion-card></app-opinion-card>
      </div>
      <div class="row align-items-start">
        <app-stream></app-stream>
        <app-event-card></app-event-card>
        </div>
        <div class="row align-items-start">
            <div class="col">
              One of two columns
            </div>
            <app-news-card></app-news-card>
            </div>
      </div>
</body>