<div class = "container-fluid d-flex flex-column w-60 h-30" style="float:right">
<div class ="card w-60 h-15 text-bg-dark hover" style="float:right" style=" border: radius 0;">
    <div class="card-header" style="margin-top: 10px;">gameTitle</div>
    <div class="card-body" bg-dark> 
        
        <div class="d-flex justify-content-start">
            <p class = "card-text" >Gamedesc</p>
            <p class = "card-text" style="margin-left: 10px;">Platform</p>
            <p class = "card-text" style="margin-left: 10px;">Gametype</p>
        
        
        </div>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="leaderboardLayout/#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Streams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Forum</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Statistics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Boosters</a>
              </li>
            
          </ul>
        </div>
        </div>