
<nav class="navbar navbar-expand-lg navbar-dark bg-success justify-content-between">
    <div class="container">
       <a class="navbar-brand" href="#" style="margin-bottom: 10px;">
           <img src="assets/spdrn logo.png" width="180" height="25"  alt="">
        </a>
       

        <a class="navbar-brand" href="#">Games</a>

        <a class="navbar-brand" href="#">Streams</a>

        <a class="navbar-brand" href="#">Forums</a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav">
        
             <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 More
               </a>
               <ul class="dropdown-menu">
                 <a class="dropdown-item" href="#">News</a>
                 <a class="dropdown-item" href="#">Knowledge Base</a>
                 <a class="dropdown-item" href="#">About</a>
                 <a class="dropdown-item" href="#">Support Hub</a>
                 <a class="dropdown-item" href="#">SRC Supporter</a>
                 <a class="dropdown-item" href="#">Speedrun Shop</a>
                 <a class="dropdown-item" href="#">Night Mode</a>
                 <a class="dropdown-item" href="#">Twitter</a>
                 <a class="dropdown-item" href="#">Discord</a>

               </ul>
             </li>
           </ul>
           </div>
         
           

       <form class="form-inline">
           <input class="form-control me-2 text-bg-dark"  type="search" placeholder="Search for gamers, user, etc..." aria-label="Search">
           
         </form>

         <a class="navbar-brand" href="#">
           <img src="assets/shiny-medal.png" width="25" height="31" class="d-inline-block align-top" alt="">
        </a>

        <a class="navbar-brand" href="#">Log in</a>

        <a class="navbar-brand" href="#">Sign Up</a>

        <a class="navbar-brand" href="#">
           <img src="assets/english-flag.png" width="25" height="31" class="d-inline-block align-top" alt="">
        </a>

   </div>
 </nav>