
  
 <div class = "container-fluid d-inline-flex p-2 flex-row" style="float:right">
        
        
    <p class="card-text" style="margin-right: 25px;">{{rank}}</p>
    <p class="card-text" style="margin-right: 140px;">{{username}}</p>
    <p class="card-text" style="margin-right: 75px;">{{inGame}}</p>
    <p class="card-text" style="margin-right: 75px;">{{realTime}}</p>
    <p class="card-text" style="margin-right: 25px;">{{date}}</p>
       
       
         
           
           
       
   </div>