<div class = "container-fluid d-flex" style="float:right">
 <img src={{img}} alt={{imgDescription}} width = "150" height = "100" style="float:left">
 <div class ="card w-100 h-15 text-bg-dark hover" style="float:right" style=" border: radius 0;">
    <div class="card-body" bg-dark>

        <h5 class="card-title">{{gameTitle}}</h5>
        <div class="row align-items-start">
            <div class="col">
            <a routerLink="leaderboardLayout"class="nav-link hover" href="#" style="float:left" style="margin-top:10px">{{runCategory}}</a>
            </div>
            <div class="col">
                <div class = "container-fluid" style="float:none" >
                    <p class="card-text">{{runPlace}}</p>
                    <p class="card-text">{{runTime}}</p>
                    </div>
            </div>
            <div class="col">
                <div class = "container-fluid" style="float:right">
                    <p class="card-text hover" style="float:right" style="float:inline-start">{{username}}</p>
                    <p class="card-text hover" style="float:right" style="float:inline-end">{{daySubmitted}}</p>
                    </div>
            </div>
            </div>
        
    </div>
</div>
</div>